@import url('https://fonts.googleapis.com/css2? family = Allura & display = swap');
@import url('https://fonts.googleapis.com/css2? family=Almendra:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Roboto+Slab&display=swap');

/* HEADER común a todas las páginas */

*{
    margin: 0;
}

header *{
    padding: 7px;
}

header p{
    font-size: 1.3em;
}

header{
    background-color: #333652;
}

header .logo{
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 30px;
    padding-bottom: 0;
    font-size: 1em;
    font-family: 'Allura', cursive, 'Lucida Console';
    color: #E9EAEC;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #E9EAEC;
}

header a:hover{
    color:#8C3839;
}

.container{
    max-width: 1440px;
    margin: auto;
}

@media (min-width: 768px){
    header{
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 10px;
    }
}

/* ------------------------------- */
/* FOOTER común a todas las páginas */
.container-pie {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 20% 80%;
    height: 12vh;
    padding: 1%;
    max-width: 100%;
    margin-bottom: 15px;
}

.container-pie *{
    margin: 0;
    padding: 0;
}

.container-pie h4 {
    font-family: 'Roboto Slab', 'Roboto';
    font-size: 2.5vw;
}

.item1-pie{
    align-items: center;
}

.item2-pie{
    align-items: center;
}

.subcontenedor-pie {
    display: grid;
    grid-template-columns: 60% 40%;
}

.subcontenedor-pie > div > h5 {
    line-height:  2vh;
    color: #E9EAEC;
    font-family: 'Roboto Slab', 'Roboto';
}

.subcontenedor-pie > div > h5 > img { filter: invert(100%); } /* cambia el color de los íconos de negro a blanco de iconos */

.copyright{
    text-align: center;
    padding: 15px 10px;
    width: 100%;
    background-color: #3c4061;
}

.item0-pie > h4{
    color: #E9EAEC;
    align-items: center;
    padding: 0 20px;
}

/* ------------------------------- */

body{
    background: #333652;
    color: #E9EAEC;
    font-family: 'Roboto', sans-serif;
}

.contenido{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.5em;
}


h1{
    font-size: 10vw;
    text-align: center;
    margin: 0;
    color: #000;
}
h2{
    font-size: 5vw;
    text-align: center;
    margin-bottom: 0.6em;
}
h3{font-size: 2em;}
p{font-size: 1.3em;}

#principio-contactanos{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    height: 50vh;
    color: #E9EAEC;
    background-image: url(/img/contacto/fondoprincipiocontactanos.jpg);
    background-position: center center;
    background-size: cover;

}

.wrap{
    box-shadow: 0 0 20px 0 rgba(255,255,255,0.3);
}

.wrap > *{
    padding: 1.5em;
}

.formulario form textarea,
.formulario form input,
.formulario form button{
    transform: scale(1,1);
    transition-duration: 0.5s;
    width: 100%;
    padding: 0.7em;
    margin: 0.8em;
    border: none;
    background: none;
    border-bottom: 1px solid #8C3839;
    color: #E9EAEC;
}

.formulario form button{
    background: #8C3839;
    color: #E9EAEC;
    border: 0;
    text-transform: uppercase;
    padding: 1.3em;
}

.formulario form button:hover{
    background-color: rgb(160, 56, 57);
    border: 1px solid #FAD02C;
}

.formulario form textarea:hover,
.formulario form input:hover,
.formulario form button:hover{
    border: 1px solid #fff;
    border-radius: 5px;
}

.formulario form button:hover{
    transform: scale(0.9,1);
    transition-duration: 0.5s;
}

.formulario form textarea{
    resize: none;
    height: 5em;
}

.formulario{
    background: #2f314b;
}

.input,
.largo {
    padding: 0.5em 1em;
}

.mapa{
    margin: 7px 3px;
}

@media (min-width: 768px){
    .formulario form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .formulario form .largo{
        grid-column: 1/3;
    }
}

@media (max-width: 992px){
    
}

/* ------------------------------- */
/* FOOTER */
@media screen and (min-width: 992px) {
    .container-pie {
        padding: 2%;
        margin-bottom: 0;
    }
    .subcontenedor-pie {grid-template-columns: 40% 60%; }
    .item1-pie {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .item2-pie {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
    }
}
