*{
    margin: 0;
    padding: 0;
}
body{
    background: #333652;
    color: #E9EAEC;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar lo cambié para que sean 2 pq no queremos sidebar*/
    grid-template-columns: repeat(2,1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado"
                         "contenido contenido"
                         "widget-1 widget-2"
                         "pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,

.contenedor .pie {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .encabezado{
    background: #333652;
    color: #E9EAEC;
    grid-area: encabezado; 
}

.contenedor .contenido{
    background: #fff;
    grid-area: contenido; 
}

.contenedor .sidebar{
    background: orange;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar; 
}

.contenedor .widget-1{
    background-color: #8C3839;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-2{
    background:#90ADC6;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1; 
}

.contenedor .widget-2{
    grid-area: widget-2; 
}

.contenedor .pie{
    background: #333652;
    color:  #E9EAEC;
    grid-area: pie; 
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-2"
                             "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
                            }
                        }