/* Google fonts cuya combinacion generé con https://fontjoy.com/ */
@import url('https://fonts.googleapis.com/css2? family = Allura & display = swap');
@import url('https://fonts.googleapis.com/css2? family=Almendra:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #333652;
    color: #E9EAEC;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Allura', cursive, 'Lucida Console';
    font-size: 3vw; /* tamaño responsivo, 3% del viewport window */
    text-align: center;
    color: #E9EAEC;
}

h3 {
    font-family: 'Almendra', 'Lucida Console';
    font-size: 3vw;
}

h4 {
    font-family: 'Roboto Slab', 'Roboto';
    font-size: 2.5vw;
}

/* ------------------------------- */
/* HEADER común a todas las páginas */
.container-encabezado {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 5vh;
    max-width: 100%;
    padding: 1%;
    background-color: #333652;
}
.item1-encabezado {
    font-family: 'Allura', cursive, 'Lucida Console';
    font-size: 3vh; /* tamaño responsivo, 3% del viewport height */
    text-align: center;
    color: #E9EAEC;
}
.item2-encabezado {
    text-align: center;
    color: #E9EAEC;
}
nav > a { margin-right: 3vw; }
nav > a:hover { color: #10111c; }
nav { padding: 2%; }
/* ------------------------------- */
/* FOOTER común a todas las páginas */
.container-pie {
    display: grid;
    grid-template-rows: 2;
    height: 12vh;
    padding: 1%;
    max-width: 100%;
    background-color: #333652
}

.subcontenedor-pie {
    display: grid;
    grid-template-columns: 60% 40%;
}

.subcontenedor-pie > div > h5 {
    line-height:  2vh;
    color: #E9EAEC;
    font-family: 'Roboto Slab', 'Roboto';
}

.subcontenedor-pie > div > h5 > img { filter: invert(100%); } /* cambia el color de los íconos de negro a blanco de iconos */


/* ------------------------------- */
/* Texto superpuesto al BANNER común a todas las páginas */
.textBanner { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Almendra', 'Lucida Console';
    font-size: 5vh;
    font-weight: bold;
}
.textBanner > p { font-size: 2.5vh; }

a {color: #E9EAEC;}

/* ------------------------------- */
/* HOME */

.conten1home {
    display: grid; 
    grid-template-rows: 30% 30% 30%;
    row-gap: 6vh;
/*     background-color: red;  */ /* dejo comentado por si se necesita verlo */
    height: 150vh;
    max-width: 100%; /*ancho máximo de la página*/
    padding: 2.5vh 2vw;
}
.conten1home > .redir {
    background-color: #24263d; 
    padding: 2vh; 
    text-align: center;
    border-radius: 1vw; /* redondea bordes */
}
.conten1home > .redir > .link {
    padding: 2vh;
}
.conten1home > .redir > img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

#reservas{
    padding: 3vh 10vw 9vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 10vh;
/*     background-color: aqua; */ /* dejo comentado por si se necesita verlo */
}

#reservas > button {
    padding: 5vh 15vw;
    background-color: #24263d;
    border: 1vw outset #24263d; 
}

/* slideshow */
#slider {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.slideshow { 
    display: none; /* esconde las imágenes */
    animation-name: fade; /* animación para efecto de desvanecimiento */
    animation-duration: 1.5s; /* animación para efecto de desvanecimiento */
}
.slideshow > img {  
    width:100%; 
    height: 30vh; 
    object-fit: cover; /* para que no se estire la imagen */
}
@keyframes fade { /* animación para efecto de desvanecimiento */
    from {opacity: .4}
    to {opacity: 1}
}


/* ------------------------------- */
/* NOSOTROS */

.conten1 > div {
    padding: 3vw 15vw 0.1vw 15vw;
    font-size: 3vw;
    text-align: justify;
}


/* ------------------------------- */
/* BREAKPOINTS */


@media screen and (min-width: 600px) {

    /* ------------------------------- */
    /* HOME */
    .conten1home { padding: 2.5vh 10vw; }
    .slideshow > img {  height: 50vh; }
}

@media screen and (min-width: 992px) {

    /* ------------------------------- */
    /* HOME */
    .textBanner { font-size: 10vh; }
    .textBanner > p { font-size: 4vh; }
    .conten1home {
        height: 43vh;
        grid-template-rows: 100%;
        grid-template-columns: 30% 30% 30%; 
        column-gap: 3vw;
        padding: 1.5vh 5vw;
    }
    .conten1home > .redir > img {
        height: 33vh;
    }
    #reservas{ padding: 5vw; }
    .slideshow > img { height: 70vh; }


    /* ------------------------------- */
    /* FOOTER */
    .container-pie { padding: 2%;}
    .subcontenedor-pie { grid-template-columns: 40% 60%; }
    .item1-pie {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .item2-pie {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
    }
}
