@import url('https://fonts.googleapis.com/css2? family = Allura & display = swap');

h1 {
    font-family: 'Allura', cursive, 'Lucida Console';
    font-size: 6vw; /* tamaño responsivo, 6% del viewport window */
    text-align: center;
}

h2 {

}

h4

h5

h6