/* Google fonts cuya combinacion generé con https://fontjoy.com/ */
@import url('https://fonts.googleapis.com/css2? family = Allura & display = swap');
@import url('https://fonts.googleapis.com/css2? family=Almendra:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Roboto+Slab&display=swap');

h1 {
    font-family: 'Allura', cursive, 'Lucida Console';
    font-size: 3vw;
    /* tamaño responsivo, 6% del viewport window */
    text-align: center;
    color: #E9EAEC;
}

h3 {
    font-family: 'Almendra', 'Lucida Console';
    font-size: 4vw
}

h4 {
    font-family: 'Roboto Slab', Roboto;
    font-size: 3vw;
}

/* header común a todas las páginas */
/* podría estar hecho con flex porque tiene solo 1 dir */

.container-encabezado {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 5vw;
    padding: 1%;
    background-color: aliceblue;
    /* le puse este color para verlo nomás */
}

.item-encabezado2 {
    text-align: right;

}

.item-encabezado1 {
    font-family: 'Allura', cursive, 'Lucida Console';
    font-size: 3vw;
    /* tamaño responsivo, 6% del viewport window */
    text-align: center;
    color: #E9EAEC;
}

.lista-encabezado1 {
    list-style-type: none;
    padding: 2%;
}

.lista-encabezado2 {
    display: inline;
}